#card-container {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 0 25% 0 25%;
}


#inner-tech-card{
    p{
        font-size: 20px;
    }
    h1 {
        font-size: 22px;
        color:aquamarine;
        text-decoration: underline;
    }
}